button {
    margin-left: 10px;
    cursor: pointer;
}

#header-container {
    background-color: rgb(14, 18, 100);
    margin-bottom: 25px;
    padding: 15px;
}

#login-header {
    margin-left: 50px;
    margin-right: 50px;
    display: block;
}

#home-header {
    display: none;
}

#homePage-container {
    display: none;
    
}

#currentUser-info {
    width: 55%;
}

#newPost-responseMsg {
    width: 55%;
}
#create-post-container {
    width: 55%;
}

#create-new-post {
    margin-top: 3px;
    padding-left: 30px;
    padding-right: 30px;
    height: 90%;
}

#posts-container {
    width: 55%;
}

.card-title {
    font-size: 22px;
    font-weight: bold;
}

.card {
    margin-bottom: 10px;
}

.post-details {
    color:grey;
    margin-left: 10px;
}

#post-replies {
    width: 70%;
}

button {
    margin-bottom: 5px;
}
