* {
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

body {
    background-image: url('https://assets-global.website-files.com/5a9ee6416e90d20001b20038/64f5de458cdc87f3cd09fd99_Rectangle%20(82).svg');
    background-size: cover;
    background-position: fill;
    background-repeat: no-repeat;
  }
  
label {
    font-size: 18px;
    font-weight: bold;
}

table {
    background-color: white;
    margin: 5px;
    padding: 5px;
    font-size: 28px;
}

tr:first-child {
    background-color: rgb(223, 223, 223);
}

#header {
    background-color: #007BFF;
    padding: 10px;
    margin-bottom: 25px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
}

#headerImg {
    width: 200px;
}

#getCode {
    width: 300px;
    margin-bottom: 15px;
}

#bingoCard-container {
    display: flex;
}

#bingoCard {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    margin-bottom: 25px;
}

.cardNum {
    background-color: white;
    padding: 15px;
    border: none;
    font-size: 17px;
    cursor: pointer;
}

.cardNum:active {
    background-color: lime;
}

.cardNum.checked {
    background-color: lime;
}

#checkCards {
    display: none;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 225px;
    height: 60px;
}

#dashboard {
    display: inline-block;
    text-align: center;
}